<div class="bg-dark text-white p-3">
  <h1> Login </h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" formControlName="login" required>
    <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" formControlName="password" required>
    <br />
    <input type="submit" class="m-2 p-1 btn btn-primary" value="Log In">
  </form>

  <div *ngIf="errorLogin" class="alert alert-danger">
    {{ errorMessage }}
  </div>

  <!-- Remind Passowrd -->
  <div id="formFooter">
    <a class="link" href="#" routerLink="/register"> Register User |</a>
    <a class="underlineHover" href="#">  Forgot Password?</a>
  </div>

</div>
