<div class="container bg-light p-2">
  <div class="row bg-dark">
    <div class="col-9 text-white">User Name : {{ userName }}</div>
    <button class="btn btn-primary text-white content-justify-right" (click)="logout()">Logout</button>
  </div>
  <div class="row">
    <div class="col-3">
      Emergency Contacts
    </div>
    <div class="col-6">
      <h4> Contacts </h4> <hr />
      <ul>
        <li class="row" *ngFor="let contact of contacts">
          <div class="col">
            <button class="btn btn-danger" (click)="removeContact(contact.id)">Remove</button> {{ contact.name }} </div>
          <div class="col">{{ contact.no }}</div>

        </li>
        <li class="row">
          <div class="col">
            <button class="btn btn-info" (click)="addContact()">Add</button>
            <input type="text" (keyup)="this.newContact = $event.target.value" placeholder="Enter Name">
            <input type="text" (keyup)="this.newContactNumber = $event.target.value" placeholder="Enter Number" >
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
